section{
    width: 80%;
    border: 3px solid;
    font-family: serif;
}
/* .container{
    background-color: cadetblue;
    padding: 10px;
    display: flex;
}
.{
    background-color: chocolate;
    margin: 2px;
    width: 20%;
} */
#acad{
  border: 3px solid;
    padding: 2px;
}
.golden{
    
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.golden-item{
    width: 50%;
    margin: 3px;
    color: black;
}